// PLACE VARIABLES HERE IF YOU WISH. IT IS A GOOD PRACTICE TO DECLARE YOUR VARIABLES IN ONE PLACE. YOU DO NOT HAVE TO, BUT IT COULD MAKE THINGS EASIER FOR YOU.

$your-variable: #000;

// END VARIABLES

html, body {
    height: 100%;
    min-height: 100vh;
}

// YOU CAN DECLARE REUSABLE CLASSES HERE
